*{
    color: yellow;
    text-align: center;
}
body{
    background-image: url('http://wallpapercave.com/wp/0aQrzLN.jpg');
    background-attachment: fixed;
    position: relative;
    max-height: 70224px;
}
.wrapper{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 3050px;
    transform: translateY(-34800px) rotateX(60deg);
}


.scroll-text{
    height: 70100px;
    font-size: 3vw;
    text-align: justify center;
    position: relative;
    transform: translateZ(23500px) translateY(27000px)  rotateX(40deg);
}

.charOfList, .movOfList, .charOfMov, .filmsOfChar{
    padding: 15px;
}

.description, header p{
    text-align: justify;
}

a{
    text-decoration: none;
}

a:hover{
    color: #008DCB;
}

.top{
    position: fixed;
    margin: 5% 0 0 38%;
    color: #008DCB;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
}

.top:hover{
color: yellow;
}

.character{
    text-align: center;
}

.movPag, .charPag{
    color: #008DCB;
    margin-top: 30%;
}

header, .movList, .charList, .movies, .characters, .movie-characters, .films-character, .description, .by{
    padding-bottom: 150px;
}

.movie, .character{
    padding: 300px 0;
}

.wrmov, .wrchar{
    perspective: 450px;
    transform: translateY(0px) rotateX(0deg);
    
}

.movPag{
    height: fit-content;
    font-size: 3vw;
    text-align: justify center;
    position: relative;
    transform: translateZ(0)   rotateX(20deg);
    animation: scroll 30s linear forwards;
}

@keyframes scroll{
    from {top:-200px; transform: translateZ(0)   rotateX(10deg);}
    to {top: -1950px; transform: translateZ(-200px)  rotateX(11deg);}
}

.ep123{
    height: fit-content;
    font-size: 3vw;
    text-align: justify center;
    position: relative;
    transform: translateZ(1000)   rotateX(20deg);
    animation: sscroll 40s linear forwards;
}

@keyframes sscroll{
    from {top:-200px; transform: translateZ(0)   rotateX(8deg);}
    to {top: -2300px; transform: translateZ(-200px)  rotateX(9deg);}
}


.charPag{
    height: fit-content;
    font-size: 3vw;
    text-align: justify center;
    position: relative;
    transform: translate3d(50%,0,0)   rotateX(20deg);
    animation: roll 5s linear forwards;
}

@keyframes roll{
    from {top:200px; transform: translate3d(50%,0,0)   rotateX(20deg);}
    to {top: -600px; transform: translate3d(50%,0,-200px)  rotateX(21deg);}
}